@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  background-size: cover;
  color: white;
  background-color: rgb(95, 207, 128);
}
#quote-box {
  position: absolute;
  top: 14%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: 0.5;
}
.quote {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  margin: 0;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
}
.quote:before,
.quote:after {
  font-size: 60px;
  line-height: 1;
  position: absolute;
}
.quote:before {
  content: "“";
  top: 0;
  left: -50px;
}
.quote:after {
  content: "”";
  bottom: -10px;
  margin-left: 10px;
  position: absolute;
}
.source {
  font-size: 30px;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
  margin-top: 20px;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
}
.source:before {
  content: "—";
}
.citation {
  font-size: 30px;
  font-style: italic;
}
.citation:before {
  content: ", ";
  font-style: normal;
}
.year:before {
  content: ", ";
  font-style: normal;
}

#loadQuote {
  font-size: 20px;
  position: fixed;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 100px;
  border: 4px solid rgba(0, 0, 0, 0.6);
  color: #000;
  padding: 20px 40px;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
#loadQuote:hover {
  color: #000;
  border-color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
#loadQuote:focus {
  outline: none;
}

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }
  .quote:before,
  .quote:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}
