@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transition: all 0.3s ease-out;
}
body {
  overflow-x: hidden;
  /*   overflow-y: hidden; */
}
header {
  padding: 20px 50px;
  text-align: center;
  margin-bottom: 20px;
  background-color: hsla(227, 100%, 56%, 0.4);
  color: white;
}
thead tr {
  font-size: 14px;
  text-align: center;
  background-color: rgb(255 255 255 / 60%);

  text-align: left;
}
tbody {
  font-size: 16px;
}
td,
th {
  padding: 20px;
}
td {
  border-bottom: 0.2px solid #999;
}

/* Set Styles For reusable classes */
.body {
  padding: 0px 10px 0px 10px;
}
.container {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}
.table {
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: rgb(255 255 255 / 60%);

  border-collapse: collapse;
  color: #333;
}
.button {
  background-color: #2050ff;
  text-align: center;
  color: white;
  width: 150px;
  padding: 15px 30px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0px 8px 8px -2px #c2c2c2;
  border-radius: 25px;
  cursor: pointer;
}
.button:hover {
  background-color: #4070ff;
}
.button:active {
  background-color: #2030ff;
}
.responsive {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.scrollable {
  overflow: hidden;
  overflow-y: auto;
}
.aside {
  position: fixed;
  top: 0;
  left: -500px;
}
.info-page {
  font-weight: lighter;
  line-height: 25px;
  text-align: justify;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255 255 255 / 60%);
  margin: 0;
  padding-top: 50px;
}
.close-button {
  background-color: red;
  padding: 10px;
}
.close-button:hover {
  background-color: #dd0000;
}
.form {
  margin-bottom: 50px;
}
.form input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 100px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  background-color: rgb(255 255 255 / 80%);
  margin-bottom: 5px;
  border: 4px solid rgb(255 255 255 / 100%);
}
.form button {
  margin: 10px 0;
  display: flex;
  color: #fff;
  font-size: 22px;
  line-height: 2;
  cursor: pointer;
  padding: 8px 60px;
  align-items: center;
  border-radius: 100px;
  width: 100%;
  text-align: center;
  user-select: none;
  transition: 1s all ease;
  justify-content: center;
  background-color: #3d4aff;
  border: 4px solid #878fff;
}
.form button:hover {
  opacity: 0.8;
}

.form button:active {
  opacity: 1;
  box-shadow: none;
  transform: scale(0.7);
}
/* Style the meter */
#guage {
  position: relative;
  margin: auto;
  margin-bottom: -150px;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
}
#guage svg {
  position: absolute;
  top: 0;
  left: 0;
}
#guage .value {
  color: #fff;
  font-size: 30px;
  position: relative;
  top: 100px;
  text-align: center;
  margin: 0 0 20px;
}
#spinner {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  position: absolute;
  top: 25px;
  left: 25px;
  transition: transform 1.5s ease-in-out;
  transform: rotate(45deg);
}
#pointer {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 12px solid red;
  position: absolute;
  z-index: 20;
  top: 105px;
  left: 5px;
  width: 0px;
}
#guage .small-text {
  color: #fff;
  font-size: 20px;
  position: relative;
  text-align: center;
  top: 95px;
}
