@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(3);
}
.label {
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
.copy-text {
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
}
.copy-text input.text {
  padding: 10px;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
}
.copy-text button {
  border: none;
  padding: 10px;
  outline: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  background: #5784f5;
  transition: 0.5s all ease;
}

.copy-text button:active {
  background: #809ce2;
}
.copy-text button:before {
  content: "Copied";
  position: absolute;
  top: -45px;
  right: 0px;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}
.copy-text button:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active button:before,
.copy-text.active button:after {
  display: block;
}
