* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #161a1d;
  --primary-color: #7289da;
  --gray-color: #4f4f4f;
}

body {
  background-color: var(--main-color);
}

/* Form */
form {
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1.2;
  margin: 60px auto;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.9);
  border: 4px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
}
.input-container {
  width: 100%;
}

form input {
  padding: 0 24px;
  width: 100%;
  height: 52px;
  outline: none;
  color: #000;
  font-size: 20px;
  border-radius: 100px;
  transition: 1s all ease;
  border: 4px solid rgba(0, 0, 0, 0.6);
}

input[type="submit"] {
  width: 230px;
  background: #0016c4;
  border: none;
  padding: 16px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  height: auto;
  transition: 1s all ease;
}
input[type="submit"]:hover {
  background: #010f7e;
}
.already {
  margin-top: 20px;
}

form p {
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
}

.input-container p.msg {
  visibility: hidden;
  margin-bottom: 10px;
  margin-top: 5px;
}

.input-container.error p.msg {
  visibility: visible;
}

.input-container.error input {
  border-color: red;
}

.input-container.success input {
  border-color: rgb(97, 249, 97);
}
/* Learning Box starts here */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#4b2146, #1419f9);
  border-radius: 10px;
}

.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;
  bottom: 10px;
  position: fixed;
  max-width: 300px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  backdrop-filter: blur(9.5px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 90%;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}

@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}

/* Learning Box ends here */
