@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

#cookiePopup {
  width: 80vw;
  font-size: 14px;
  position: absolute;
  max-width: 42.85em;
  line-height: 1.8em;
  padding: 2em 1.4em;
  border-radius: 6px;
  text-align: justify;
  background-color: #ffffff;
  transition: all 0.5s ease-in;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
}
#cookiePopup img {
  display: block;
  width: 3.75em;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}
#cookiePopup p {
  line-height: 2;
  font-size: 24px;
  margin: 1.4em 0;
  text-align: center;
}
#cookiePopup button {
  display: flex;
  color: #fff;
  line-height: 2;
  font-size: 24px;
  cursor: pointer;
  margin: 10px auto;
  user-select: none;
  padding: 10px 60px;
  width: max-content;
  text-align: center;
  align-items: center;
  border-radius: 100px;
  transition: 0.2s all ease;
  justify-content: center;
  background-color: #3d4aff;
  border: 4px solid #878fff;
}

#cookiePopup button:active {
  transform: scale(0.7);
}
#cookiePopup a {
  color: #3d4aff;
  font-weight: bold;
}
.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}
.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}
.footer {
  position: absolute;
  padding: 10px;
  z-index: 9;
  bottom: 0;
  left: 0;
}
@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}
