@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

html,
body {
  height: 100%;
  overflow: hidden;
}

#demo {
  height: 100%;
  width: 100%;
  background-color: #222831;
}

#info {
  width: 160px;
  height: 160px;
  display: flex;
  color: #000;
  font-size: 2em;
  user-select: none;
  position: absolute;
  padding-left: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: 0.1s all ease;
  background-color: #fff;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
}
