@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

:root {
  --mainColor: #00a822;
}
html,
body {
  height: 100%;
  display: block;
  user-select: none;
}
.navbar {
  padding: 0;
}
#home {
  background: rgb(148, 0, 0);
}

#bio {
  background: #2b7c00;
}

#work {
  background: #003cff;
}

#contact {
  background: rgb(125, 0, 125);
}

h1 {
  color: white;
  font-size: 30vw;
}
.navbar-nav {
  background: #1e2640;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.nav-link {
  font-size: 20px;
  outline: none;
  display: block;
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  padding: 10px 40px !important;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  transition: all ease 0.4s;
}

.nav-item.active .nav-link {
  background-size: 4px 50px;
}
section.h-100 {
  padding-top: 100px;
  height: 100vh !important;
}
