@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

html {
  scroll-behavior: smooth;
}
main {
  width: 100%;
}
.header {
  width: 100%;
}
.header h1 {
  background-color: #03cc65;
  color: #ffffff;
  font-size: 15vmin;
  text-align: center;
  padding-top: 30px;
}
.header h3 {
  background-color: #03cc65;
  color: #001a2e;
  font-size: 8vmin;
  text-align: center;
  padding: 40px 0;
}
p {
  color: #fff;
  margin: 50px 0;
  padding: 0 30px;
  font-size: 3vmin;
  line-height: 3;
  text-align: justify;
  letter-spacing: 0.05em;
}
.content {
  width: 90%;
  margin: 60px auto;
  padding: 30px;
  max-width: 1000px;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.6);
}
#progress {
  right: 10px;
  width: 70px;
  bottom: 20px;
  height: 70px;
  display: none;
  position: fixed;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  place-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
