@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

h1 {
  color: #fff;
  margin: 20px 0;
}
h2 {
  color: #fff;
  margin: 20px 0;
}
.car-box img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.4);
}
.car-box {
  margin: 30px;
  position: relative;
  display: inline-block;
}
.input-label {
  cursor: pointer;
}
.car-box input {
  top: 80px;
  left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
}
.buttons-group button {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  padding: 10px 30px;
  border-radius: 100px;
  transition: 0.2s all ease;
  border: 2px solid #fff;
  background-color: #160eff;
}
.buttons-group button:active {
  transform: scale(0.9);
}
.buttons-group .btn-results {
  background-color: #c8003f;
}
