@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  background-color: #f7f7ff;
}

.wrapper,
.favorite-container {
  width: min(700px, 90%);
  position: absolute;
  max-height: 90%;
  overflow: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 5em 3em;
  box-shadow: 0 5px 40px 0 rgba(88, 83, 153, 0.15);
  border-radius: 1em;
  background-color: rgb(0 0 0 / 100%);
}
.container {
  text-align: center;
}
.container p {
  color: #fff;
  line-height: 2;
  font-size: 20px;
  margin: 1em 0 1.5em 0;
}
.container h3 {
  font-size: 24px;
  color: #f2ff00;
}
.wrapper #btn,
.favorite-container button {
  border: 4px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  margin-top: 1em;
  font-size: 20px;
  line-height: 2;
  cursor: pointer;
  padding: 0 30px;
  align-items: center;
  border-radius: 100px;
  width: max-content;
  text-align: center;
  user-select: none;
  transition: 1s all ease;
  justify-content: center;
}
.button-container {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.button-container button {
  margin: 10px auto;
  display: flex;
  color: #fff;
  font-size: 24px;
  line-height: 2;
  cursor: pointer;
  padding: 10px 30px;
  align-items: center;
  border-radius: 100px;
  width: max-content;
  text-align: center;
  user-select: none;
  transition: 1s all ease;
  justify-content: center;
  background-color: #3d4aff;
  border: 4px solid #878fff;
}

.button-container button:hover,
.wrapper #btn:hover,
.favorite-container button:hover {
  opacity: 0.9;
}

.button-container button:active,
.wrapper #btn:active,
.favorite-container button:active {
  opacity: 1;
  transform: scale(0.7);
}
.favorite-container h3 {
  color: #ffffff;
}
.favorite-container ul {
  list-style: none;
  color: #fff;
}
.favorite-container li {
  padding: 1em 0;
}
.active {
  color: red;
}
.favorite-container ul p,
.favorite-container li {
  font-size: 20px;
  line-height: 2;
}
.learning-box {
  pointer-events: initial;
}
