@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  color: rgb(230, 230, 230);
  text-align: center;
  font-size: 0.7em;
}
h1 {
  line-height: 1em;
  margin: 20px 0;
  padding-bottom: 5px;
  font-size: 2.8em;
  font-weight: bold;
}
h2 {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 1.1em;
  padding: 0;
  margin: 10px 0 2px 0;
}
table {
  margin: 2% auto;
  border-collapse: collapse;
}
#table_game {
  position: relative;
  font-size: 120px;
  margin: 1% auto;
  user-select: none;
  border-collapse: collapse;
}
.td_game {
  border: 4px solid rgb(230, 230, 230);
  width: 90px;
  height: 90px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
.fixed {
  width: 90px;
  height: 90px;
  line-height: 90px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.td_list {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.th_list {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
#restart {
  font-size: 20px;
  cursor: pointer;
  margin: 40px auto;
  user-select: none;
  padding: 14px 20px;
  width: max-content;
  border-radius: 100px;
  transition: 0.6s all ease;
  background-color: rgba(0, 0, 0, 0.6);
}
#restart:hover {
  background-color: rgba(0, 0, 0, 1);
}
#restart span {
  display: flex;
  align-items: center;
  justify-content: center;
}
#restart img {
  width: 30px;
  margin-right: 10px;
}
.x {
  color: darksalmon;
  position: relative;
  top: 0px;
  font-size: 1.2em;
  cursor: default;
  text-transform: lowercase;
  display: block;
  font-family: "Cascadia Code PL";
}
.o {
  color: aquamarine;
  position: relative;
  top: -10px;
  font-size: 1em;
  text-transform: lowercase;
  cursor: default;
  display: block;
  font-family: "Cascadia Code PL";
}

/* modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  background-color: black; /* fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

/* modal content */
.modal-content {
  background-color: rgb(240, 240, 240);
  color: rgb(32, 32, 32);
  font-size: 2em;
  font-weight: bold;
  /* 16 % from the top and centered */
  margin: 16% auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  width: 540px;
  max-width: 80%;
}
.modal-content p {
  margin: 0;
  padding: 0;
}
.modal-content h3 {
  margin: 20px 0 10px;
}
.modal-content input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}
.modal-content label {
  cursor: pointer;
}
/* close button for modal dialog */
.close {
  color: rgb(170, 170, 170);
  float: right;
  position: relative;
  top: -25px;
  right: -10px;
  font-size: 34px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.win-color {
  background-color: rgb(240, 240, 240);
}
#okBtn {
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 60px;
  margin-top: 20px;
  border-radius: 10px;
  transition: 0.6s all ease;
  background-color: blue;
}
#okBtn:hover {
  background-color: rgb(4, 4, 164);
}
#okBtn:active {
  transform: scale(0.9);
}
.learning-box {
  pointer-events: initial;
}
