@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(255 255 255 / 40%);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: min(90%, 31.25em);
  padding: 3.75em 0;
  border-radius: 0.8em;
  box-shadow: 0 1.97em 3.75em rgba(1, 87, 185, 0.2);
}
.timer-display {
  position: relative;
  width: 110%;
  background-color: #0054b2;
  left: -5%;
  padding: 1em 0;
  color: #f0f9ff;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.3em;
  box-shadow: 0 0.5em 1em rgba(1, 87, 185, 0.2);
}
.buttons {
  width: 80%;
  margin: 3.8em auto 0 auto;
  display: flex;
  justify-content: space-around;
  user-select: none;
}
.buttons button {
  font-size: 1.12em;
  font-weight: bold;
  background-color: #dbe9ff;
  color: #0054b2;
  border: none;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  cursor: pointer;
  outline: none;
}
#start-timer {
  background-color: #0054b2;
  color: #f0f9ff;
}
.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  text-align: center;
}
.youtube-tutorial-btn {
  font-size: 1.12em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-decoration: none;
}
