@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  height: 100vh;
  user-select: none;
}
.container {
  top: 50%;
  left: 50%;
  width: 80vw;
  max-width: 40em;
  padding: 3em 1.8em;
  position: absolute;
  border-radius: 0.6em;

  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%) scale(1.5);
  box-shadow: 0 0.6em 2.5em rgba(0, 7, 70, 0.2);
}
.container img {
  margin: auto;
  width: 10.25em;
  height: 10.25em;
  display: block;
}
#location-details {
  font-size: 1.75em;
  text-align: center;
  margin: 1em 0 1.7em 0;
  color: #021d38;
  font-weight: 500;
}
.container button {
  margin: auto;
  border: none;
  display: block;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  padding: 1em 2.5em;
  border-radius: 100px;
  transition: 0.6s all ease;
  background-color: #005cb9;
}
.container button:hover {
  background-color: #014588;
}
.container button:active {
  transform: scale(0.7);
}
