@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  background-color: #f4c531;
}
.container {
  top: 50%;
  left: 50%;
  width: 32em;
  height: 21em;
  position: absolute;
  border-radius: 0.8em;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1.4);
  box-shadow: 0 1.87em 4em rgba(86, 68, 9, 0.3);
}
.buttons-container {
  top: 0;
  height: 24%;
  width: 100%;
  display: flex;
  padding: 0 1em;
  position: absolute;
  align-items: center;
  justify-content: space-around;
}
.buttons-container button {
  gap: 0.5em;
  border: none;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  font-weight: bold;
  border-radius: 2em;
  padding: 0.8em 1em;
  transition: 1s all ease;
  background-color: #f4c531;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.buttons-container button:active {
  box-shadow: none;
  transform: scale(0.8);
}
.emoji-container {
  top: 18%;
  height: 80%;
  width: 100%;
  position: absolute;
}
.emoji {
  top: 50%;
  left: 50%;
  width: 14.37em;
  height: 14.37em;
  position: absolute;
  border-radius: 50%;
  background-color: #ffd21f;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}
.eyebrows,
.eyes,
.mouth {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.eyes {
  top: 5em;
}
.eyebrows {
  top: 3.12em;
}
.mouth {
  top: 7.5em;
}
