@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper {
  width: 850px;
  display: flex;
}

video {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

.speed {
  flex: 1;
  margin: 10px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  border-radius: 50px;
  background: #efefef;
  align-items: flex-start;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

.speed-bar {
  width: 100%;
  padding: 2px;
  height: 16.3%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6s all ease;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
}
