@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
html {
  scroll-behavior: smooth;
}
body {
  display: block;
  overflow-x: hidden;
}
.first-section,
.last-section {
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  font-size: 8em;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.sticky-parent {
  height: 700vh;
}
.sticky {
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.dim {
  display: block;
  min-width: 50vw;
  height: 100vh;
}
.horizontal {
  display: flex;
}

@media (max-width: 620px) {
  .dim {
    display: block;
    min-width: 100vw;
    height: 100vh;
  }
}
