@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  height: 100vh;
  background: linear-gradient(to bottom, #2987e4 50%, #16191e 50%);
}
.clock {
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  position: absolute;
  border-radius: 50%;
  background: #16191e;
  box-sizing: content-box;
  border: 15px solid #242931;
  transform: translate(-50%, -50%) scale(1.8);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
}
img {
  position: relative;
}
.hand {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  border-radius: 5px;
  transform-origin: bottom;
  background-color: #ffffff;
}
.hour {
  height: 60px;
  width: 10px;
  top: 100px;
}
.minute {
  height: 80px;
  width: 5px;
  top: 80px;
}
.seconds {
  height: 90px;
  width: 3px;
  top: 70px;
  background-color: #2987e4;
}
