* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box; 
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
  position: relative;
  background-color: #212121;
}

.navbar { 
  top: 40px;
  left: 100px;
  padding: 0; 
  z-index: 9;
  width: 100px;
  height: 100px;
  display: flex; 
  position: fixed;
  align-items: center;
  justify-content: space-between; 
}

.toggle-btn {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer; 
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
}
.toggle-btn::after {
  top:-15px;
  z-index: 1;
  left: -15px;
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;


}

.toggle-btn span {
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 6px;
  background: rgb(255, 0, 64);
  transition: 1s;
  z-index: 2;
}

.toggle-btn span:nth-child(2) {
  top: 50%;
  width: 70%;
}

.toggle-btn span:nth-child(3) {
  top: 75%;
  width: 40%;
}

.toggle-btn.active span:nth-child(2) {
  display: none;
}

.toggle-btn.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.toggle-btn.active span:nth-child(3) {
  top: 50%; 
  width: 100%;
  transform: rotate(-45deg);
}

.page-container {
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s; 
  overflow: hidden;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.overlay { 
  bottom: 0;
  z-index: 3;
  width: 100%; 
  left: -100%;
  height: 100%; 
  position: fixed;
  background: #212121;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  background-size: cover;
  background-position: center;
}

.page.active {
  opacity: 1;
  pointer-events: all;
}

.page.home {
  background-image: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174);
}
.page.project {
  background-image: url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);
}
.page.about {
  background-image: url(https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);
}

.page .title { 
  color: #fff;
  font-size: 6rem; 
  font-weight: 700;
  text-transform: uppercase;
  transition: 1s all ease;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

/* JavaScript Animation & Rotation */
.page-container.active {
  left: -10px;
  transform: rotateY(45deg) scale(0.6);
}
.page-container.active .title {
  transform: scale(1.3);
}
.nav-list {
  position: absolute;
  top: 40%;
  right: 10vw;
  opacity: 0;
  font-family: sans-serif;
}

.link {
  position: relative;
  color: #fff;
  text-transform: capitalize;
  font-size: 30px;
  padding: 10px;
  transition: 0.8s;
  letter-spacing: 1px;
  list-style: none;
  font-weight: 600;
  cursor: pointer;
}

.link:hover  { 
  color: #f00; 
}
.active-link { 
  color: #f00;
  pointer-events: none;
  transform: translateX(-10px);
}
  
.nav-list.show {
  opacity: 1;
}

/* Animation for JavaScript */
@keyframes slide {
  100% {
    left: 100%;
  }
}
@-webkit-keyframes slide {
  100% {
    left: 100%;
  }
}
@-moz-keyframes slide {
  100% {
    left: 100%;
  }
}
/* Learning Box starts here */
.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;  
  bottom: 10px; 
  position: fixed;
  max-width: 300px;
  border-radius: 10px;
  pointer-events: none;  
  backdrop-filter: blur(9.5px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px); 
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 260px;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}

/* Learning Box ends here */