:root {
  --font-title: "Archivo Black", sans-serif;
  --font-text: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --color-text: #fff;
  --color-text-light: #a1a1a1;
  --color-help: #7b7b7b;
  --color-body: #000;
  --color-accent: #f7f7f7;
  --transition-01: cubic-bezier(.41,0,.13,1.005);
  --transition-02: cubic-bezier(.405,0,.025,1);
}

html {
  font-feature-settings: "kern" off;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-kerning: none;
}

body {
  color: var(--color-text);
  font-family: var(--font-text);
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-body);
  padding: 0px;
  position: relative;
}

h1, h2, h3, h4, h5 {
  margin: 0px;
  padding: 0px;
}

.header {
  width: 100%;
  z-index: 10;
  padding-top: calc(16px + 10px);
  padding-bottom: 16px;
  position: relative;
  margin-bottom: 16px;
}

.header__line {
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 100;
}
.header__line data {
  width: 20%;
  height: 10px;
  top: 0px;
  right: 0px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.header__line data:nth-child(1) {
  background-color: #28A259;
}
.header__line data:nth-child(2) {
  background-color: #F9E038;
}
.header__line data:nth-child(3) {
  background-color: #26C5FB;
}
.header__line data:nth-child(4) {
  background-color: #F1453E;
}
.header__line data:nth-child(5) {
  background-color: #fff;
}

.header__layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: calc(8.33333% / 3);
  padding-right: calc(8.33333% / 3);
  position: relative;
}

.header__logo {
  grid-column-end: span 6;
}
.header__logo a {
  color: var(--color-body);
  line-height: 1;
  display: inline-block;
  border-radius: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  text-decoration: none;
  background-color: var(--color-text);
}
.header__logo a span {
  color: var(--color-body);
  font-family: "Anton", sans-serif;
  font-size: 36px;
  display: flex;
  letter-spacing: 1px;
}
.header__logo a span data {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.header__logo a span data:nth-child(1) {
  color: #28A259;
}
.header__logo a span data:nth-child(2) {
  color: #F9E038;
}
.header__logo a span data:nth-child(3) {
  color: #26C5FB;
}
.header__logo a span data:nth-child(4) {
  color: #F1453E;
}
.header__logo a span data:nth-child(5) {
  color: var(--color-body);
}
.header__logo a sup {
  color: var(--color-body);
  font-family: var(--font-text);
  font-size: 14px;
  margin-left: 2px;
  top: 4px;
}

.header__menu {
  grid-column-end: span 6;
  text-align: right;
  position: relative;
}
.header__menu button {
  cursor: pointer;
  width: auto;
  border: 0px;
  border-radius: 100px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 6px;
  position: relative;
  transition: all 0.35s var(--transition-01);
}
.header__menu button:hover {
  background-color: var(--color-body);
  transition: all 0.35s var(--transition-01);
}
.header__menu button:hover span {
  color: var(--color-text);
  margin-right: 12px;
  transition: all 0.35s var(--transition-02);
}
.header__menu button:hover svg {
  fill: var(--color-text);
  transition: all 0.35s var(--transition-02);
}
.header__menu button span {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  margin-right: 4px;
  text-transform: uppercase;
  transition: all 0.35s var(--transition-02);
}
.header__menu button i {
  border-radius: 100px;
  display: inline-block;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #3c3c3c;
}
.header__menu button i svg {
  fill: var(--color-text);
  width: 26px;
  display: block;
  transition: all 0.35s var(--transition-02);
}

.home__section {
  padding-left: calc(8.33333% / 3);
  padding-right: calc(8.33333% / 3);
  position: relative;
}

.home__title {
  width: calc(100% - (8.33333% * 0));
  position: relative;
  display: block;
  margin-bottom: 4.5em;
}
.home__title h1 {
  font-family: var(--font-title);
  font-size: 10.24vw;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.home__title h1 span {
  transform: scale(1.6);
  position: relative;
  display: block;
  opacity: 0;
  visibility: hidden;
}
.home__title h2 {
  color: var(--color-text-light);
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.home__title h2 span {
  transform: scale(1.6);
  position: relative;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 65);
}

.project__tags {
  width: 100%;
  position: relative;
  margin-bottom: 1.6em;
}
.project__tags ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-warp: wrap;
}
.project__tags ul li {
  width: 33.33333%;
  postion: relative;
  display: block;
  overflow: hidden;
}
.project__tags ul li:nth-child(2) {
  text-align: center;
}
.project__tags ul li:nth-child(3) {
  text-align: right;
}
.project__tags ul li a {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 45);
}
.project__tags ul li time {
  color: var(--color-text-light);
  font-family: var(--font-mono);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 45);
}
.project__tags ul li h4 {
  color: var(--color-text-light);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 45);
  position: relative;
}

.project__cover {
  width: 100%;
  height: 0px;
  padding-top: 40%;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--color-accent);
  opacity: 0;
  visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 500) scale(0.8);
}
.project__cover video {
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  padding: 0px;
  position: absolute;
  text-align: center;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.menu {
  width: 0%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: 101;
  position: fixed;
  overflow: hidden;
  background-color: #121213;
  opacity: 0;
  visibility: hidden;
}

.menu__close {
  top: calc(16px + 8px);
  right: calc(8.33333% / 3);
  position: absolute;
}
.menu__close button {
  cursor: pointer;
  width: auto;
  border: 0px;
  border-radius: 100px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 6px;
  position: relative;
  transition: all 0.35s var(--transition-01);
}
.menu__close button:hover {
  background-color: var(--color-body);
  transition: all 0.35s var(--transition-01);
}
.menu__close button:hover span {
  color: var(--color-text);
  margin-right: 12px;
  transition: all 0.35s var(--transition-02);
}
.menu__close button:hover svg {
  fill: var(--color-text);
  transition: all 0.35s var(--transition-02);
}
.menu__close button span {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  margin-right: 4px;
  text-transform: uppercase;
  transition: all 0.35s var(--transition-02);
}
.menu__close button i {
  border-radius: 100px;
  display: inline-block;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #3c3c3c;
}
.menu__close button i svg {
  fill: var(--color-text);
  width: 26px;
  display: block;
  transition: all 0.35s var(--transition-02);
}

.menu__navigation {
  margin-top: calc(16px + 8px + 38px + 4em);
  position: relative;
  padding-left: 8.33333%;
  padding-right: 8.33333%;
}
.menu__navigation nav ul {
  list-style: none;
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.menu__navigation nav ul li {
  display: block;
  position: relative;
}
.menu__navigation nav ul li + li {
  margin-top: 22px;
}
.menu__navigation nav ul li a {
  color: var(--color-text);
  font-family: var(--font-title);
  font-family: "Anton", sans-serif;
  font-size: 3.2vw;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
.menu__navigation nav ul li a:hover {
  text-decoration: none;
}
.menu__navigation nav ul li a:hover span {
  color: #AACCA5;
  transition: all 0.35s var(--transition-02);
}
.menu__navigation nav ul li a:hover span:before {
  width: 100%;
  right: 0px;
  left: initial;
  transition: all 0.35s var(--transition-02);
}
.menu__navigation nav ul li a span {
  z-index: 5;
  display: inline-block;
  position: relative;
  transition: all 0.35s var(--transition-02);
  opacity: 0;
  visibility: hidden;
  transform: matrix(1, 0, 0, 1, 0, 45);
}
.menu__navigation nav ul li a span:before {
  content: "";
  width: 0%;
  height: 4px;
  right: initial;
  left: 0px;
  bottom: 0px;
  background-color: #AACCA5;
  z-index: -1;
  position: absolute;
  transition: all 0.35s var(--transition-02);
}

.menu__footer {
  width: 100%;
  position: relative;
  margin-top: 4em;
  padding-left: 8.33333%;
  padding-right: 8.33333%;
}
.menu__footer ol {
  list-style: none;
  padding: 0px;
  position: relative;
}
.menu__footer ol li {
  display: block;
  position: relative;
}
.menu__footer ol li + li {
  margin-top: 16px;
}
.menu__footer ol li a {
  color: var(--color-text-light);
  font-size: 20px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.menu__footer ol li a svg {
  width: 14px;
  fill: var(--color-text-light);
  display: inline-block;
  margin-left: 4px;
  position: relative;
}