@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  height: 100vh;
  background: linear-gradient(
    #da2e2c 49%,
    #090029 49%,
    #090029 51%,
    #2a01a4 51%
  );
  user-select: none;
}
.score-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#start {
  width: 6em;
  height: 6em;
  cursor: pointer;
  box-shadow: none;
  font-size: 1.8em;
  border-radius: 50%;
  transition: 1s all ease;
  background-color: #ffffff;
  border: 0.4em solid #090029;
}
#start:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.8);
}
.game-container {
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 46em;
  padding: 3em 1.5em;
  position: absolute;
  border-radius: 0.5em;
  background-color: #ffffff;
  border: 0.6em solid #090029;
  transform: translate(-50%, -50%);
}
.timer span {
  font-weight: 600;
}
.header,
.num {
  text-align: right;
  font-size: 24px;
}
.pokemon-image {
  width: 300px;
  height: 300px;
  display: block;
  object-fit: contain;
  margin: 3em auto 0 auto;
}
.options {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
.options button {
  padding: 0.8em;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0.5em;
  transition: 1s all ease;
  background-color: #ffffff;
  border: 0.3em solid #090029;
  box-shadow: 0 0.5em 0 0 #090029;
}
.options button:hover {
  box-shadow: none;
  transform: translateY(0.6em);
}
.nxt-btn-div {
  margin-top: 3em;
  display: flex;
  justify-content: flex-end;
}
.next-btn {
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  padding: 0.8em 3em;
  border-radius: 0.5em;
  transition: 0.3s all ease;
  background-color: #090029;
}
.next-btn:hover {
  background-color: #1f008f;
}
.next-btn:active {
  transform: scale(0.8);
}
.hide {
  display: none;
}
.options:disabled {
  border-color: #a0a0a0;
  color: #a0a0a0;
  box-shadow: 0 0.5em 0 0 #a0a0a0;
  cursor: not-allowed;
}
.options button.correct {
  background: #58cc5d;
}
.options button.incorrect {
  background: #eb5650;
}
.options button.correct,
.options button.incorrect {
  transition: 1s all ease;

  color: #ffffff;
  border-color: #090029;
  box-shadow: 0 0.5em 0 0 #090029;
}
.score-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
#user-score {
  margin-bottom: 1em;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  top: -88px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}
