@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.wrapper {
  width: 90%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.6);
}
.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 30px;
  user-select: none;
  list-style-type: none;
  justify-content: space-around;
  border-bottom: 4px solid #fff;
}

.tab {
  flex: 1;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  transition: 1s all ease;
  background-color: #0000d9;
}

.tab.active {
  background-color: #02026d;
}

.tab:hover {
  background-color: #02026d;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  line-height: 2;
}
