* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: rgb(10, 10, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 400px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

input {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 5px;
  background: #fff;
  transition: 0.6s all ease;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

.eye-container {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#eyeOpen,
#eyeClose {
  cursor: pointer;
  transition: 0.2s ease;
}

#eyeClose {
  display: none;
}

.eye-toggle #eyeClose {
  display: block;
}

.eye-toggle #eyeOpen {
  display: none;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

/*** Learning Box starts here ***/
.learning-box {
  position: fixed;
  z-index: 99;
  max-width: 300px;
  left: 10px;
  bottom: 10px;
  padding: 0;
  background: rgba(0, 0, 63, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 260px;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}

/*** Learning Box ends here ***/