/*styles.css*/
@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

.page-wrapper {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}
.page-wrapper form {
  color: #002f6d;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.page-wrapper form label {
  flex: 0 0 auto;
  width: 23%;
}
.page-wrapper input[type="text"] {
  height: 48px;
  outline: none;
  font-size: 20px;
  padding: 0 20px;
  border-radius: 100px;
  flex: 0 0 auto;
  width: 40%;
  border: 4px solid #fff;
  background-color: rgb(255 255 255 / 22%);
}
#addNeed,
#addHave {
  margin: 0 5px;
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 2;
  cursor: pointer;
  padding: 0px 20px;
  align-items: center;
  border-radius: 100px;
  text-align: center;
  flex: 0 0 auto;
  width: 17%;
  user-select: none;
  transition: 1s all ease;
  justify-content: center;
  background-color: #3d4aff;
  border: 4px solid #6872ff;
}
#addHave {
  border-color: #b8ffce;
  background-color: #008628;
}
#addNeed:hover,
#addHave:hover {
  opacity: 0.8;
}
#addNeed:active,
#addHave:active {
  transform: scale(0.9);
}
.page-wrapper h1 {
  color: #002f6d;
  font-size: 36px;
  text-align: center;
  margin: 0 0 20px;
}
.page-wrapper h2 {
  color: #002f6d;
  font-size: 30px;
  text-align: left;
  margin: 10px 0;
}
.list {
  width: 100%;
  padding: 0 !important;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
}
.list li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px dotted rgba(255, 255, 255, 0.8);
  text-indent: 10px;
  height: auto;
  padding: 10px 16px 10px 10px;
  font-size: 20px;
  text-transform: capitalize;
  color: #002f6d;
}
.list li:last-child {
  border-color: transparent;
}
.page-wrapper li a {
  float: right;
  text-decoration: none;
  color: red;
}
.list input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
}
