@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

#alert-btn {
  cursor: pointer;
}
#product-text {
  padding: 0 15px;
}
#product-alert {
  gap: 0.5em;
  right: 20px;
  width: 800px;
  bottom: 20px;
  padding: 20px;
  display: none;
  position: fixed;
  border-radius: 5px;
  align-items: flex-start;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}
.product-info {
  display: flex;
}
.product-info img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
.message {
  color: #fff;
  font-size: 28px;
  line-height: 1.6;
}
.time {
  font-size: 22px;
  margin-top: 16px;
  color: #ffdada;
}
#close-btn {
  border: none;
  color: #fff;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 44px;
  background: #bc0000;
  transition: 0.4s all ease;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
#close-btn:hover {
  background: #8b0000;
}
