@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  background-color: #1b64f5;
}
.container {
  background-color: #ffffff;
  width: 90%;
  max-width: 600px;
  padding: 6.25em 2.8em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.62em;
}
.dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.dates-picker {
  position: relative;
}
input[type="date"] {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  border: 1px solid black;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
p {
  font-size: 1.12em;
  color: #38395e;
  text-align: center;
  text-transform: capitalize;
  background-color: #dae6fd;
  padding: 0.8em 0;
}
button {
  display: block;
  position: relative;
  width: 7.5em;
  background-color: #1b64f5;
  font-size: 20px;
  color: #ffffff;
  margin: 2.2em auto 1.2em auto;
  border: none;
  outline: none;
  padding: 0.8em 0;
  border-radius: 0.3em;
  cursor: pointer;
  user-select: none;
  transition: 0.5s all ease;
}
button:active {
  transform: scale(0.8);
}
span {
  color: #f93e3b;
}
.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  text-align: center;
}
.icon {
  top: 50%;
  right: 10px;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
}
