@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h4,
h5 {
  font-weight: bold;
}
.app {
  width: 90%;
  max-width: 800px;
  height: 500px;
  padding: 15px;
  border-radius: 8px;
  overflow-y: scroll;
  border: 5px solid rgba(27, 127, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  color: #000;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(27, 127, 0, 0.2);
}

.fa-plus {
  background-color: #abcea1;
  padding: 3px;
  border-radius: 3px;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 5px solid #78ba65;
  background-color: #e2eede;
  border-radius: 6px;
  padding: 12px 18px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: red;
}
.modal-backdrop {
  backdrop-filter: blur(16px);
}
.options .fa-edit,
.options .fa-trash-alt {
  width: 30px;
  height: 30px;
  display: flex;
  color: #fff;
  font-size: 12px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.options .fa-edit {
  background-color: #3d4aff;
}
.options .fa-trash-alt {
  background-color: #d30000;
}
