@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.notes {
  display: flex;
  height: 100%;
}

.notes__sidebar {
  padding: 6px 0 6px 6px;
  width: 300px;
  flex-shrink: 0;
}

.notes__add {
  width: 100%;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 0.75em 0;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 7px;
  margin-bottom: 10px;
  transition: 1s all ease;
  border: 2px solid #fff;
  backdrop-filter: blur(4px);
  background: rgba(12, 0, 255, 0.1);
}

.notes__add:hover {
  background: rgba(12, 0, 255, 0.6);
}
.notes__list {
  overflow: auto;
  padding-right: 4px;
  height: calc(100% - 74px);
}
.notes__list-item {
  padding: 4px;
  cursor: pointer;
  margin: 0 0 10px;
  border-radius: 8px;
  transition: 1s all ease;
  backdrop-filter: blur(8px);
  background-color: rgba(52, 52, 52, 0);
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.notes__list-item--selected {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
}

.notes__small-title,
.notes__small-updated {
  color: #fff;
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
}

.notes__small-body {
  color: #fff;

  padding: 0 10px;
}

.notes__small-updated {
  color: #fff;
  font-size: 10px;
  text-align: right;
  font-style: italic;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-grow: 1;
}

.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
}

.notes__title {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
}

.notes__body {
  flex-grow: 1;
  resize: none;
  color: #fff;
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 1.5;
  border-radius: 8px;
  padding: 10px 20px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
}
.learning-box {
  left: auto;
  right: 10px;
  pointer-events: initial;
}
::-webkit-input-placeholder {
  /* Edge 12-18 */
  color: #fff;
}
::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #fff;
}

::placeholder {
  color: #fff;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}
