@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  height: 100%;
  animation: none;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
  background: linear-gradient(135deg, #d70000, #4c4af4) fixed;
}
.container {
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  transition: 1s all ease;
  transform: translate(-50%, -50%) scale(1.4);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
}
.container:hover {
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
}
.wrapper {
  display: flex;
  margin: 8px 0;
  align-items: center;
  justify-content: space-between;
}
.input-box span {
  font-size: 22px;
}
.lbl {
  color: #000;
  font-size: 22px;
  font-weight: 400;
}
.val {
  color: #44475b;
  font-weight: 500;
  font-size: 22px;
}
.input-box {
  color: #0300d7;
  border-radius: 8px;
  padding: 10px 10px 10px 16px;
  background-color: #cdccfd8f;
}
#bill {
  background-color: transparent;
  text-align: center;
  color: #0300d7;
  outline: none;
  border: none;
  width: 100px;
}
hr {
  border: none;
  border-bottom: 1px solid #cdccfd;
}
input[type="range"] {
  width: 100%;
  cursor: pointer;
}
input[type="range"]:not(:last-child) {
  margin-bottom: 5px;
}
section:not(:last-child) {
  margin-bottom: 20px;
}
section:not(:first-child) {
  margin-top: 20px;
}
section:last-child {
  background-color: #cdccfd;
  border-radius: 12px;
  padding: 10px 16px;
}
section:last-child .val,
section:last-child .lbl {
  color: #0300d7;
}
