@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

.wrapper {
  top: 50%;
  left: 50%;
  width: 300px;
  position: absolute;
  transform: translate(-50%, -50%) scale(3);
}
input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  color: #000;
  padding: 10px 20px;
  border-radius: 100px;
  letter-spacing: 0.5px;
  transition: 1s all ease;
  box-shadow: 0 5px 30px rgba(22, 89, 233, 0.4);
}
input:focus {
  background-color: rgb(231, 238, 255);
}
::placeholder {
  color: #555;
  font-weight: 400;
}
span {
  top: 50%;
  right: 8px;
  cursor: pointer;
  user-select: none;
  position: absolute;
  transform: translate(0, -50%);
}
.fa {
  width: 30px;
  height: 30px;
  display: flex;
  font-size: 18px;
  color: #555;
  border-radius: 50%;
  align-items: center;
  transition: 1s all ease;
  justify-content: center;
  background-color: #ddd;
}
