@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

.section-container {
  margin: auto;
  padding: 20px;
  display: flex;
  max-width: 75%;
  border-radius: 20px;
  align-items: center; /* Align the scroll icon vertically */
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}

.product-list-container {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #333 #ccc;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-direction: row;
}

.product-card {
  position: relative;
  flex: 0 0 auto;
  width: 350px;
  margin: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background: #fff;
}

.new-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #ff5733;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

.product-card img {
  width: 100%;
  height: auto;
}

/* Style scrollbar for Chrome, Safari, and Opera */
.product-list-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.product-list-container::-webkit-scrollbar-thumb {
  background: #333;
}

.product-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product-list-container::-webkit-scrollbar-track {
  background: #ccc;
}

.scroll-icon {
  top: 50%;
  height: 60px;
  right: -80px;
  display: flex;
  font-size: 2em;
  cursor: pointer;
  min-width: 60px;
  margin-left: 20px;
  user-select: none;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: 0.5s all ease;
  transform: translateY(-50%);
  background: rgb(255 255 255 / 80%);
}
.scroll-icon:active {
  transform: translateY(-50%) scale(0.8);
}
@media screen and (max-width: 600px) {
  .product-card {
    width: 90%;
    margin: 10px;
  }
}
