body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-size: 120%;
  background: #222;
  align-items: center;
  justify-content: center;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.card {
  width: 100%;
  margin: 1em;
  padding: 1.5rem;
  max-width: 420px;
  border-radius: 10px;
  color: rgb(10, 7, 7);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
}
.humidity,
.wind {
  line-height: 2;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #000000;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #000000;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #333333;
}
button:active {
  transform: scale(0.9);
}
h2 {
  margin: 0 0 20px;
}
h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}
.weather {
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 40px rgba(255, 255, 255, 1);
}
.flex {
  display: flex;
  align-items: center;
}
.flex .icon {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.feels_like {
  margin-left: 10px;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

/* Integration of Fonts */
/* body {
  width: 100%;
  height: 100%;
  background: rgb(150, 0, 0);
  background: radial-gradient(circle,
      rgba(150, 0, 0, 1) 0%,
      rgb(3, 98, 0) 50%,
      rgb(0, 0, 116) 100%);
  background-size: 150% 150%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

body,
button,
input {
  font-family: "Cascadia Code PL", sans-serif;
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.eot");
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.woff2")
      format("woff2"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.woff")
      format("woff"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.ttf")
      format("truetype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.svg#CascadiaCodePL-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.eot");
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.woff2")
      format("woff2"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.woff")
      format("woff"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.ttf")
      format("truetype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.svg#CascadiaCodePL-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Learning Box starts here */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#4b2146, #1419f9);
  border-radius: 10px;
}

.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;
  /* height: 100%; */
  bottom: 10px;
  display: flex;
  position: fixed;
  max-width: 400px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  flex-direction: column;
  backdrop-filter: blur(9.5px);
  max-height: calc(100% - 20px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 14px 6px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 94%;
  overflow: auto;
  padding: 0 14px 14px 40px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  list-style: decimal;
}

@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}

/* Learning Box ends here */
