@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

.piano-container {
  top: 50%;
  left: 50%;
  display: flex;
  user-select: none;
  position: absolute;
  border-radius: 0.62em;
  padding: 4em 1em 1em 1em;
  background-color: #24272e;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.6);
}
.white-key {
  width: 4.37em;
  height: 17.5em;
  cursor: pointer;
  transition: 0.6s all ease;
  background-color: #ffffff;
  border: 2px solid #24272e;
  border-radius: 0 0 0.3em 0.3em;
}
.white-key:hover {
  background-color: #ebebeb;
}
.black-key {
  z-index: 2;
  width: 2.5em;
  height: 10em;
  cursor: pointer;
  position: absolute;
  transition: 0.6s all ease;
  background-color: #070a0f;
  border-radius: 0 0 0.3em 0.3em;
}
.black-key:hover {
  background-color: #24272e;
}
.white-key:active,
.black-key:active {
  transform: translateY(-8px) scale(0.9);
}
.black-key:nth-child(1) {
  left: 4em;
}
.black-key:nth-child(2) {
  left: 8.37em;
}
.black-key:nth-child(3) {
  left: 17.12em;
}
.black-key:nth-child(4) {
  left: 21.5em;
}
.black-key:nth-child(5) {
  left: 25.87em;
}
.black-key:nth-child(6) {
  left: 34.62em;
}
.black-key:nth-child(7) {
  left: 39em;
}
.black-key:nth-child(8) {
  left: 47.75em;
}
.black-key:nth-child(9) {
  left: 52.12em;
}
.black-key:nth-child(10) {
  left: 56.5em;
}

@media screen and (max-width: 1000px) {
  .piano-container {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 700px) {
  .piano-container {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 500px) {
  .piano-container {
    font-size: 0.3em;
  }
}
