* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #dc143c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(7, 7, 20);
}

/* gray-heart */
.gray-heart {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
}

.gray-heart:before,
.gray-heart:after {
  content: "";
  background: #ccc;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
}

.gray-heart:before {
  top: -50px;
  left: 0;
}

.gray-heart:after {
  left: 50px;
  top: 0;
}

/* red-heart */
.red-heart {
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  transform: rotate(-45deg);
  position: absolute;
  visibility: hidden;
}

.red-heart:before,
.red-heart:after {
  content: "";
  background: var(--main-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
}

.red-heart:before {
  top: -50px;
  left: 0;
}

.red-heart:after {
  left: 50px;
  top: 0;
}

.red-heart.animation {
  animation: pop 0.9s linear;
  visibility: visible;
}

.red-heart.fill-color {
  background: var(--main-color);
}

@keyframes pop {
  100% {
    transform: scale(1.7) rotate(-45deg);
    opacity: 0;
  }
}


.learning-box {
  position: fixed;
  z-index: 99;
  max-width: 300px;
  left: 10px;
  bottom: 10px;
  padding: 0;
  background: rgba(0, 0, 63, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 14px 6px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 260px;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}