@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
main {
  width: 100%;
  height: 100%;
}
.menu-slider {
  width: 90%;
  margin: auto;
  max-width: 1000px;
  position: relative;
}
.menu-wrapper {
  width: 100%;
  display: flex;
  height: 100px; /* Intentionally shorter than menu items, to hide horizontal scroll bar. */
  padding: 0 8px; /* Inner space on the left and right sides of wrapper must match flexbox gap space between menu items. */
  border-radius: 8px;

  margin: 1em auto;
  position: relative; /* Required for arrow keys to be absolutely positioned child divs inside menu-wrapper parent. */
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  border: 4px solid #fff;
}

.menu-wrapper ul {
  list-style: none; /* Hide unordered list bullet. */
}

.menu {
  height: 120px;
  box-sizing: border-box;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  position: relative; /* Required for animation. */
  display: flex;
  align-items: center;
  gap: 0; /* Flexbox space between menu items must match the left/right padding of menu wrapper. */
}

.menu .item {
  font-size: 30px;
  background: #f3f3f3; /* Weird - Visible items inherit this from .menu but not hidden items# 6-8 when they slide in and can be seen. */
  width: 75px;
  height: 75px;
  border-radius: 20px;
  display: flex; /* Needed to center number in middle of menu item, solution # 1 of 3. */
  align-items: center; /* Needed to vertically center number in middle of menu item, solution # 2 of 3. */
  justify-content: center; /* Needed to horizontally center number in middle of menu item, solution # 3 of 3. */
}

.arrow {
  margin: 0;
  top: -46px;
  border: none;
  display: flex;
  color: #fff;
  padding: 0 6px;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  position: absolute;
  width: max-content;
  text-align: center;
  align-items: center;
  transition: 1s all ease;
  justify-content: center;
  border: 2px solid #fff;
  background-color: #3d4aff;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}
.arrow:hover {
  opacity: 0.8;
}

.arrow:active {
  opacity: 1;
  transform: scale(0.7);
}

.hidden {
  opacity: 0.4;
  pointer-events: none;
}
.print-wrapper {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
}
.print {
  margin: auto;
  color: #fff;
  line-height: 2;
  font-size: 30px;
}

.left-arrow span {
  transform: rotateY(180deg);
}
