:root {
  --light-bg: white;
  --light-primary: rgb(247, 249, 250);
  --light-secondary: rgb(240, 242, 243);
  --light-divider: rgb(235, 237, 238);
  --dark-bg: black;
  --dark-primary: #15181c;
  --dark-secondary: #2f3336;
  --dark-divider: #2f3336;
  --highlight-color: #e0245e;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  display: table;
  font-family: sans-serif;
}

body {
  background: var(--background-color);
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  transition: 0.4s all ease;
}

h1 {
  font-size: 1.3em;
  font-weight: 900;
}

.light-theme {
  --background-color: var(--light-bg);
  --primary-bg: var(--light-primary);
  --secondary-bg: var(--light-secondary);
  --divider: var(--light-divider);
  --btn-bg: var(--dark-bg);
  --btn-color: var(--light-bg);
}

.dark-theme {
  --background-color: var(--dark-bg);
  --primary-bg: var(--dark-primary);
  --secondary-bg: var(--dark-secondary);
  --divider: var(--dark-divider);
  color: white !important;
  --btn-bg: var(--light-bg);
  --btn-color: var(--dark-bg);
}

.card {
  height: auto;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 24px;
  transform: scale(1.3);
  background-color: var(--primary-bg);
}
.light-theme .card {
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
}
.dark-theme .card {
  box-shadow: 0 0 80px rgba(225, 225, 225, 0.4);
}
.card-title {
  margin: 0;
  padding: 20px 20px 15px 20px;
}

.divider {
  display: block;
  width: 100%;
  border-top: 1px solid var(--secondary-bg);
}

.profile {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-items: stretch;
  justify-content: space-between;
}

.profile:hover,
.show-more:hover {
  background-color: var(--secondary-bg);
}

.profile-pic {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: top;
  background-size: cover;
}

.img-one {
  background-image: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}
.img-two {
  background-image: url(https://images.unsplash.com/photo-1610088441520-4352457e7095?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}
.img-three {
  background-image: url(https://images.unsplash.com/photo-1579987102269-ac45dafda12c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=486&q=80);
}

.profile-info {
  padding: 0 10px;
  flex-grow: 1;
}

.display-name,
.username {
  display: block;
}

.display-name {
  font-weight: 700;
}

.username {
  color: rgb(155, 153, 153);
}

.username::before {
  content: "@";
}

.follow-button {
  background-color: inherit;
  border: 3px solid var(--highlight-color);
  border-radius: 16px;
  color: var(--highlight-color);
  padding: 6px 16px;
  outline: none;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.followed {
  background-color: var(--highlight-color);
  color: white;
}

.show-more {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: block;
  padding: 15px 20px 20px 20px;
  text-decoration: none;
  color: var(--highlight-color);
}

.show-more:focus {
  -webkit-tap-highlight-color: transparent;
}

.theme-switch {
  outline: none;
  border: none;
  border-radius: 30px;
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 20px;
  background: var(--btn-bg);
  color: var(--btn-color);
  padding: 16px 40px;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  transition: 0.4s all ease;
}
.theme-switch:hover {
  opacity: 0.7;
}
/* Learning Box starts here */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#4b2146, #1419f9);
  border-radius: 10px;
}

.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;
  bottom: 10px;
  position: fixed;
  max-width: 300px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  backdrop-filter: blur(9.5px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 90%;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}

@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}

/* Learning Box ends here */
