@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #444;
  user-select: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  max-width: 600px;
  padding: 40px;
  width: 100%;
}
.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.container li a {
  font-weight: 600;
  color: #444;
}
.container li a:hover {
  padding-bottom: 4px;
  border-bottom: 3px solid #6900cc;
}
.wrapper_tab-content {
  position: relative;
}
.tab-content {
  height: 0;
  opacity: 0;
  padding: 1.75em 0;
  position: absolute;
  visibility: hidden;
}
.tab-content h1 {
  font-size: 1.12em;
  margin-bottom: 0.5em;
}
.content-visible {
  opacity: 1;
  height: auto;
  position: static;
  visibility: inherit;
  visibility: inherit;
}
.container li .active {
  color: #6900cc;
  padding-bottom: 4px;
  border-bottom: 3px solid #6900cc;
}
/* Learning Box starts here */
.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;
  bottom: 10px;
  position: fixed;
  max-width: 300px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  backdrop-filter: blur(9.5px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}
/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}
.learning-box-list {
  margin: 0;
  max-height: 260px;
  overflow: auto;
  padding: 0 14px 14px 26px;
}
.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}
@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}
/* Learning Box ends here */
