@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
.page-wrapper {
  width: 100%;
}
.input-container {
  width: 90%;
  height: 7em;
  margin: auto;
  max-width: 700px;
  position: relative;
  border-radius: 100px;
  background-color: #ffffff;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: inherit;
  color: #000000;
  padding: 0 60px;
  z-index: 3;
  font-size: 40px;
}
#suggestion {
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 60px;
  font-size: 40px;
  color: #868686;
}
.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .input-container {
    width: 80vw;
  }
}
