@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

/**
* ! Changing default styles of the browser
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

/**
* ! Navbar STyles are here
**/

.navbar {
  display: flex;
  color: white;
  flex-direction: row;
  margin-bottom: 30px;
  padding: 18px 60px 10px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
}

.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

/**
* ! Shop items styles are here
**/

.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 50px;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}

.item {
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}
.item p {
  font-size: 12px;
  line-height: 1.4;
}
.item img {
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.details h3 {
  font-size: 16px;
  text-transform: capitalize;
}
.price-quantity h2 {
  font-size: 18px;
}
.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  user-select: none;
}

.bi-dash-lg {
  width: 20px;
  color: red;
  height: 20px;
  display: flex;
  border-radius: 4px;
  align-items: center;
  transition: 1s all ease;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.quantity {
  width: 20px;
  height: 20px;
  display: flex;
  transition: 1s all ease;
  align-items: center;
  justify-content: center;
}
.bi-plus-lg {
  width: 20px;
  height: 20px;
  display: flex;
  color: green;
  border-radius: 4px;
  align-items: center;
  transition: 1s all ease;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.bi-plus-lg:active,
.bi-dash-lg:active,
.bi-x-lg:active {
  transform: scale(0.6);
}
/**
* ! style rules for label and some buttons
**/

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  padding: 12px 26px;
  border-radius: 60px;
  border: 4px solid #fff;
  background-color: #212529;
  transition: 1s all ease;
}
.checkout {
  background-color: green;
}
.removeAll {
  background-color: red;
}
.HomeBtn:hover,
.checkout:hover,
.removeAll:hover {
  opacity: 0.6;
}
.HomeBtn:active,
.checkout:active,
.removeAll:active {
  transform: scale(0.7);
}
.bi-x-lg {
  color: red;
  font-weight: bold;
  background: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
  user-select: none;
  border-radius: 50%;
}

#label h2 {
  color: #fff;
}
/**
* ! style rules for shopping-cart
**/

.shopping-cart {
  gap: 15px;
  display: grid;
  padding-bottom: 50px;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
}

/**
* ! style rules for cart-item
**/

.cart-item {
  display: flex;
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
}

.title-price-x {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.title-price {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}

.cart-item-price {
  background-color: #212529;
  color: white;
  border-radius: 4px;
  padding: 3px 6px;
}
.cart-item .details {
  width: calc(100% - 100px);
}
