@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  height: 100vh;
  user-select: none;
  background: linear-gradient(#e92e3d, #ff6e6a) no-repeat;
  background-size: 100% 50%;
  background-position: 0 100%;
  animation: none;
}
.container {
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 50px;
  display: flex;
  position: absolute;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(2);
  box-shadow: 0 15px 25px rgba(50, 50, 50, 0.15);
}
.dice-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
}
p {
  font-size: 16px;
  margin: 30px 0;
  font-weight: 500;
}
button {
  border: none;
  width: 150px;
  outline: none;
  cursor: pointer;
  padding: 15px 0;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: 1s all ease;
  background-color: #e92e3d;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
}
button:active {
  transform: scale(0.9);
}
.shake {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
.learning-box {
  background-color: rgba(0, 0, 0, 0.6);
}
