@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-image: none;
  background-color: #e8ebee;
}

::selection {
  background-color: #000000;
  color: white;
}

#container {
  margin: 30px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  border-radius: 15px;
  transform: scale(1.3);
  box-shadow: 13px 13px 20px #caced1, -13px -13px 20px #ffffff;
}

#text {
  box-sizing: border-box;
  background-color: #e8ebee;
  color: #000000;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  box-shadow: inset 4px 4px 8px #caced1, inset -4px -4px 8px #ffffff;
}

#copy {
  position: relative;
  box-sizing: border-box;
  background-color: #482ff7;
  color: #ffffff;
  width: 180px;
  min-height: 44px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px;
  border: 0;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  user-select: none;
  box-shadow: 13px 13px 20px #caced1, -13px -13px 20px #ffffff;
}
#copy:before {
  content: "";
  width: 16px;
  height: 16px;
  bottom: -20px;
  left: 82px;
  clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
}
#copy:after {
  content: attr(tooltip);
  width: 140px;
  bottom: -48px;
  left: 20px;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
}
#copy:before,
#copy:after {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  transform: translateY(-10px);
  transition: all 300ms ease;
}
#copy:hover:before,
#copy:hover:after {
  opacity: 1;
  transform: translateY(0);
}
.learning-box {
  background-color: rgba(0, 0, 0, 0.7);
}
