@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  height: 100vh;
  background: #000;
  color: #fff;
  display: block;
}

.content {
  padding: 4rem;
}

section {
  padding: 20px;
  margin: 20px 0;
  line-height: 2;
  border: 2px solid white;
}

section h1 {
  margin: 10px 0;
}

.scroll-indicator {
  height: 20px;
  width: 100%;
  position: fixed;
  top: 10px;
  left: 0;
  border-radius: 20px;

  overflow: hidden;
}

.scroll-indicator .progress {
  height: 100%;
  width: 0;
  border-radius: 20px;
  /* https://www.grabient.com/ */
  background: linear-gradient(30deg, #21d4fd, #b721ff);
  transition: width 0.1s;
}
