@font-face {
  font-family: "Cascadia Code PL";
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.eot");
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.woff2")
      format("woff2"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.woff")
      format("woff"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.ttf")
      format("truetype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-BoldItalic.svg#CascadiaCodePL-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cascadia Code PL";
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.eot");
  src: url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.woff2")
      format("woff2"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.woff")
      format("woff"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.ttf")
      format("truetype"),
    url("https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/fonts/CascadiaCodePL-Italic.svg#CascadiaCodePL-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: #338cf4;
}
.container {
  background-color: #ffffff;
  width: 90vmin;
  padding: 50px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  color: #020929;
  user-select: none;
}
select {
  cursor: pointer;
  padding: 7px;
  border: 1px solid #020929;
  user-select: none;
  border-radius: 3px;
}
.options label,
.options select {
  user-select: none;
  font-family: "Poppins", sans-serif;
}
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  user-select: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
#text-input {
  height: 50vh;
  padding: 20px;
  overflow: auto;
  margin-top: 10px;
  transition: 1s all ease;
  border: 1px solid #dddddd;
}
.active {
  background-color: #e0e9ff;
}
/* Learning Box starts here */
.learning-box {
  padding: 0;
  left: 4px;
  z-index: 99;
  bottom: 4px;
  border: none;
  display: flex;
  position: fixed;
  max-width: 400px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  flex-direction: column;
  backdrop-filter: blur(50px);
  max-height: calc(100% - 20px);
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.4);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 14px 6px;
  font-family: "Cascadia Code PL", sans-serif;
}

.learning-box-list {
  margin: 0;
  max-height: 94%;
  overflow: auto;
  padding: 0 14px 14px 40px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  line-height: 1.6;
  font-weight: normal;
  list-style: decimal;
  font-family: "Cascadia Code PL", sans-serif;
}

@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}
/* Learning Box ends here */
