@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
a {
  text-decoration: none;
}
.screenshot {
  width: 100%;
}
.page-wrapper {
  width: 90%;
  margin: auto;
  padding: 40px 0;
  max-width: 800px;
}
.clean,
.download {
  cursor: pointer;
}

#imgItem {
  margin-bottom: 30px;
}
.btn {
  width: 400px;
  margin: 30px auto;
  transition: 0.6s all ease;
}
.btn:active {
  transform: scale(0.9);
}
#screenshot canvas {
  margin-top: 30px;
}
.card-container {
  padding: 0 20px;
  text-align: center;
}
