@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

.container {
  color: #ffffff;
  text-align: center;
  width: min(90%, 43.75em);
  padding: 40px 10px;
}
h1 {
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2em;
  font-weight: 600;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
input {
  font-size: 1em;
  width: 6.25em;
  padding: 0.5em;
  outline: none;
  color: #ffffff;
  margin: 0 0 0 20px;
  border-radius: 8px;
  border: 2px solid #fff;
  background-color: rgba(23, 43, 92, 0.6);
}
button {
  display: flex;
  color: #fff;
  font-size: 24px;
  line-height: 2;
  cursor: pointer;
  user-select: none;
  padding: 10px 60px;
  width: max-content;
  text-align: center;
  margin: 30px auto;
  align-items: center;
  border-radius: 100px;
  transition: 1s all ease;
  justify-content: center;
  background-color: #3d4aff;
  border: 4px solid #878fff;
}
button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 1;
  transform: scale(0.7);
}
#result {
  gap: 0.6em;
  display: grid;
  line-height: 2;
  grid-template-columns: repeat(4, 1fr);
}
.planet-box {
  padding: 1em;
  background-color: #172b5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5em;
}
.planet-box img {
  width: 90%;
  height: auto;
}
.footer {
  position: absolute;
  text-align: left;
  padding: 30px;
  width: 100%;
  bottom: 0;
  left: 0;
}
#result > p {
  left: 50%;
  bottom: 60px;
  font-size: 20px;
  position: fixed;
  color: #8b0000;
  font-weight: bold;
  width: max-content;
  border-radius: 6px;
  text-align: center;
  padding: 10px 20px;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}
