* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #444444;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  user-select: none;
}

.calculator span {
  display: grid;
  width: 114px;
  height: 86px;
  color: #fff;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 24px;
  place-items: center;
  background: #292929;
  transition: 1s all ease;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.calculator span:active {
  background: rgb(255, 163, 26);
  color: #fff;
}

.calculator span.clear {
  width: 114px;
  font-size: 64px;
  line-height: 64px;
  /* grid-column: span 2; */
  padding-bottom: 10px;
  background: rgb(216 0 0);
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal {
  right: 0;
  bottom: 0;
  height: 138px;
  font-size: 64px;
  position: absolute;
  background: #03b1ff;
}
.calculator .operator {
  background: #0077ae;
}
.calculator span:hover {
  background: #000;
}
/* Learning Box starts here */
.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;
  bottom: 10px;
  position: fixed;
  max-width: 300px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  backdrop-filter: blur(9.5px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 260px;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}

@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}

/* Learning Box ends here */
