@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

.container {
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  padding: 60px 30px;
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%) scale(1.5);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 180px rgba(255, 255, 255, 0.9);
}
#battery {
  box-sizing: content-box;
  height: 7.8em;
  width: 17.5em;
  border: 0.6em solid #246aed;
  margin: auto;
  border-radius: 0.6em;
  position: relative;
  display: grid;
  place-items: center;
}
#battery:before {
  position: absolute;
  content: "";
  height: 5em;
  width: 1.1em;
  background-color: #246aed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -1.6em;
  border-radius: 0 0.3em 0.3em 0;
}
#charge {
  position: absolute;
  height: 6.5em;
  width: 16.25em;
  background-color: #246aed;
  top: 0.6em;
  left: 0.6em;
}
#charge-level {
  position: absolute;
  font-size: 3em;
  font-weight: 500;
  color: #fff;
}
#charging-time {
  text-align: center;
  font-size: 1.7em;
  margin-top: 1.4em;
  color: #000;
  font-weight: bold;
}
.active {
  animation: charge-animation 3s infinite linear;
}
@keyframes charge-animation {
  0% {
    width: 0;
  }
  100% {
    width: 16.25em;
  }
}
