* {
  box-sizing: border-box;
}

body {
  /* color: #fff; */
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #333;
}

.card {
  width: 30%;
  height: 50%;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.5s;
  border: 2px solid black;
  box-shadow: 0 0 80px rgb(255, 255, 255, 0.2);
  background-color: rgb(255, 255, 255, 0.8);
}

.card:hover {
  transform: scale(1.2);
  background-color: rgb(255, 255, 255, 1);
  box-shadow: 0 0 0 rgb(255, 255, 255, 0.8);
}

.container {
  margin: 0 auto;
  text-align: center;
}

.fa-brands {
  font-size: 4rem;
}

.followers {
  font-size: 5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
}
.text-label {
  font-size: 20px;
  font-weight: 600;
  color: #555;
}
.fa-facebook {
  color: rgb(66, 103, 178);
}

.fa-youtube {
  color: rgb(255, 0, 0);
}
/* Learning Box starts here */
.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;
  bottom: 10px;
  position: fixed;
  max-width: 300px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  backdrop-filter: blur(9.5px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 260px;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}

@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}

/* Learning Box ends here */
