@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

main img {
  width: 100%;
  display: block;
}
body {
  display: block;
}
#indicator {
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  transition: all ease-in 0.2s;
  color: #f20;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
}
#indicator::-moz-progress-bar {
  background-color: rgba(103, 0, 0, 0.6);
}
#indicator::-webkit-progress-bar {
  background-color: rgba(103, 0, 0, 0.6);
}
#indicator::-webkit-progress-value {
  background-color: #4aff3a;
}
main section {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}
main section h1 {
  margin: 0;
  font-size: 38px;
  margin-bottom: 15px;
}
main section p {
  padding: 5vh 2vw;
  font-size: 16px;
  line-height: 25px;
  width: 80%;
  max-width: 550px;
  margin: 0 auto;
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}
