@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: #000038;
  overflow: hidden;
}
@media (max-width: 767px), (orientation: portrait) {
  body {
    padding-top: 9rem;
    overflow-y: auto;
  }
  body .image-example {
    top: 0;
    left: 0;
    max-height: calc(100% + 9rem);
  }
  body .opaque-layer {
    height: calc(100% + 9rem);
  }
  body .image__text {
    display: none;
  }
}
.corner-box-wrapper {
  top: 20px;
  right: 20px;
  z-index: 9;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  border: 4px solid rgba(255, 255, 255, 0.4);
}

.version-box {
  margin: 10px 0;
}
.px-size {
  color: #fff;
  font-size: 20px;
}
.px-size__text,
.versions-label,
.image__text {
  width: 120px;
  color: #fff;
  font-size: 20px;
  display: inline-block;
}
.px-size__input {
  width: 100px;
  font-size: 20px;
  cursor: pointer;
}
.versions {
  width: 160px;
  font-size: 20px;
  cursor: pointer;
}

.image__file {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  max-width: 270px;
}

h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0 20px;
}

.image-example {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(10px);
}

.opaque-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(145, 158, 163, 0.6);
}

input,
button,
select,
input::file-selector-button {
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  color: #000038;
}
input::placeholder,
button::placeholder,
select::placeholder,
input::file-selector-button::placeholder {
  color: #12486b;
}

.button {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 10px 30px;
  transition: 0.4s all ease;
  background-color: red;
}
.button:hover {
  background-color: rgb(161, 0, 0);
}
.button:active {
  transform: scale(0.9);
}
canvas {
  max-width: 80vw;
  max-height: 80vh;
  position: relative;
  background-color: #000038;
}
.learning-box {
  pointer-events: initial;
  background-color: rgba(0, 0, 0, 0.4);
}
