@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
body {
  display: block;
}
main ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
}
main ul li {
  width: 50%;
  flex: 0 0 auto;
}
main ul li a {
  padding: 20px 0;
  font-size: 40px;
  display: block;
  text-align: center;
  color: #000;
  background-color: #fff;
  transition: 0.5s all ease;
  text-decoration: none !important;
}
main ul li a:focus,
main ul li a:active {
  background-color: #26ff00;
}
.centered-content {
  color: #fff;
  font-size: 100px;
  text-align: center;
  padding: 10vw 0;
}
