* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080809;
  background: linear-gradient(blueviolet, rgb(82, 5, 154));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  position: relative;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.form-items {
  display: flex;
  margin: 0 -4px;
}
.form-item {
  padding: 0 4px;
  flex: 0 0 auto;
  width: 33.3333%;
}
input {
  width: 100%;
  padding: 0 10px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #333;
  font-size: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.table {
  width: 100%;
  max-height: calc(100% - 200px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.table-section {
  background: crimson;
}
.table-section {
  display: flex;
  padding: 10px;
  font-size: 16px;
  justify-content: space-around;
}
.table-head {
  font-weight: 600;
  flex: 0 0 auto;
  width: 33.33333%;
  text-align: center;
}
#book-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  word-wrap: break-word;
  background: #fff;
  color: #000;
  font-size: 16px;
  overflow: auto;
  height: calc(100% - 44px);
}
#book-list > section {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
#book-list > section > div {
  flex: 0 0 auto;
  width: 33.33333%;
  text-align: center;
  padding: 6px;
  word-break: break-all;
}

.btn {
  background: #fdff46;
  border: none;
  color: #000;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 100px;
  margin: 0 auto 20px;
  display: block;
  transition: 1s all ease;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  background: #c5c903;
}
.form-item label {
  font-size: 20px;
  font-weight: 500;
}
/* Learning Box starts here */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#4b2146, #1419f9);
  border-radius: 10px;
}

.learning-box {
  padding: 0;
  left: 10px;
  z-index: 99;
  bottom: 10px;
  position: fixed;
  max-width: 300px;
  text-align: left;
  border-radius: 10px;
  pointer-events: none;
  backdrop-filter: blur(9.5px);
  background: rgba(0, 0, 63, 0.75);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/* width */
.learning-box-list::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.learning-box-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.learning-box-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.learning-box h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  margin: 0;
}

.learning-box-list {
  margin: 0;
  max-height: 90%;
  overflow: auto;
  padding: 0 14px 14px 26px;
}

.learning-box-list li {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  list-style: decimal;
}

@media screen and (max-width: 1000px) {
  .learning-box {
    display: none;
  }
}

/* Learning Box ends here */
