@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

#message {
  top: 50%;
  left: 50%;
  width: 90vmin;
  padding: 30px 0;
  font-weight: 600;
  font-size: 4vmin;
  position: absolute;
  text-align: center;
  border-radius: 8px;
  letter-spacing: 0.02em;
  transform: translate(-50%, -50%) scale(2);
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.6);
}
