@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);
body {
  color: #fff;
  display: block;
}
h1 {
  line-height: 2;

  margin-top: 60px;
}
p {
  font-size: 30px;
  line-height: 2;
}
a {
  color: #fff;
  font-weight: bold;
  text-decoration: none !important;
  transition: 1s all ease;
}
.navbar-light .navbar-nav .nav-item {
  margin: 0 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 24px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}
.footer-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  backdrop-filter: blur(10px);
  justify-content: space-around;
  background-color: rgb(180 0 0 / 40%);
}
.footer-box p {
  font-size: 20px;
  margin: 0;
}
.footer-box a:hover,
section a:hover {
  color: rgb(0, 255, 55);
}
