@import url(https://d289lqr9w22fzu.cloudfront.net/orientation-block/assets/reset.css);

body {
  line-height: 2;
  text-align: center;
}
.container {
  width: 100%;
}
button {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

h2 {
  color: #fff;
  font-size: 40px;
  margin: 20px 0;
}
#results {
  color: #fff;
  font-size: 30px;
  margin: 20px 0;
}
p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.btn {
  color: white;
  font-size: 20px;
  font-weight: normal;
  user-select: none;
  margin: 20px 0;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 100px;
  border: 4px solid #c70000;
  transition: 1s all ease;
  background-color: #830000;
  box-shadow: 0 0 40px rgb(0 0 0 / 30%);
}

.btn:hover {
  background-color: #c70000;
}

.btn:active {
  box-shadow: none;
  transform: scale(0.7);
}
input {
  width: 100%;
  padding: 0px 30px;
  border: 2px solid #201f1d;
  margin-bottom: 10px;
  background-color: rgb(0 0 0 / 10%);
  outline: none;
  color: #fff;
  font-size: 20px;
  height: 50px;
  border-radius: 100px;
  transition: 1s all ease;
}

input:focus {
  border: 2px solid rgba(0, 0, 0, 0.4);
  background-color: rgb(0 0 0 / 30%);
}

form {
  background-color: rgb(255 255 255 / 30%);
  padding: 20px;
  color: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

form p {
  margin-bottom: 5px;
}

form p:nth-child(1) {
  margin-top: 0;
}

.panel {
  margin-top: 20px;
  float: none;
}

@media (min-width: 768px) {
  .panel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .panel {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
